/* For some reason it's just not working very well trying to work on it*/
.root {
    -fx-font-family: Verdana;
    -fx-font-size: 14px;
    -fx-background-color: lightblue;
}
.chart-plot-background {
    -fx-background-color: black;
}
.chart-bar {
    -fx-bar-fill: #f9ef11;
}

.table-view{
    -fx-background-color: white;
}
.table-row-cell:odd {
    -fx-background-color: red;
}

.table-row-cell:even {
    -fx-background-color: orange;
}